.olControlPortalToolbar {
	display: inline-block;
}

.olControlPortalToolbar div {
	float: left;
/* 	background-repeat: no-repeat; */
/* 	margin: 2px; */
	margin-right : 10px;
	width: 25px;
	height: 25px;
/* 	background-position: center; */
	cursor: pointer;
	-moz-border-radius: 1px;
	border-radius: 1px;
	background-repeat: no-repeat;
	color : #E9E9E9;
	position:relative;
}

.olControlPortalToolbar div:before {
	position: absolute;
	font-family: FontAwesome;
	top: 2px;
	left: 5px;
}

.olControlPortalToolbarAddItemActive:before,
.olControlPortalToolbarAddItemInactive:before {
	content: "\f040";
}
.olControlPortalToolbarEditItemActive:before,
.olControlPortalToolbarEditItemInactive:before {
	content: "\f044";
}

/* .olControlPortalToolbarEditItemActive,.olControlPortalToolbarEditItemInactive */
/* { */
/* 	background-image: url("images/silk/pencil.png"); */
/* } */

/* .olControlPortalToolbarGetItemActive,.olControlPortalToolbarGetItemInactive */
/* 	{ */
/* 	background-image: url("images/silk/down.png"); */
/* } */


.olControlPortalToolbarAddItemInactive,.olControlPortalToolbarEditItemInactive,.olControlPortalToolbarGetItemInactive
{
	background-color: rgba(157, 157, 157, 0.20);
	border: 1px solid rgba(157, 157, 157, 0.30);
}

.olControlPortalToolbarAddItemActive,.olControlPortalToolbarEditItemActive,.olControlPortalToolbarGetItemActive
{
	background-color: rgba(50, 153, 187, 0.7);
	border: 1px solid  rgba(50, 153, 187, 0.8);
}

.olControlPortalToolbarGetItemHidden {
	background-color: #ff0000;
	display: none;
}