@CHARSET "UTF-8";
.admin-unit-label {
	position: absolute;	
    padding: .1% .5%;
    letter-spacing: .01em;
    font-size: 16px;
}
.admin-unit-label-ecoregion{
    background-color: rgba(219, 125, 123, 0.42);
    
    background-color: rgba(219, 125, 123, 0.42);
    margin-left: -3em;
    margin-top: -1em;
}
.admin-unit-label-province {
    background-color: rgba(83, 137, 206, 0.6);
}
.admin-unit-label-district {
    background-color: rgba(255, 191, 100, 0.6);
}
.admin-unit-label-commune {
        background-color: rgba(246, 255, 194, 0.7);
    	color: black;
}

.admin-unit-label.admin-unit-label-ecoregion.zoom-0 {
	font-size: 11px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-1 ,
.admin-unit-label.admin-unit-label-ecoregion.zoom-2 {
	font-size: 14px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-3 {
	font-size: 15px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-4 {
	font-size: 16px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-5 {
	font-size: 18px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-6 ,
.admin-unit-label.admin-unit-label-ecoregion.zoom-7 {
	font-size: 20px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-8 ,
.admin-unit-label.admin-unit-label-ecoregion.zoom-9 {
	font-size: 22px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-10 ,
.admin-unit-label.admin-unit-label-ecoregion.zoom-11 {
	font-size: 24px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-12 ,
.admin-unit-label.admin-unit-label-ecoregion.zoom-13 {
	font-size: 26px;
}
.admin-unit-label.admin-unit-label-ecoregion.zoom-14 ,
.admin-unit-label.admin-unit-label-ecoregion.zoom-15 {
	font-size: 28px;
}



.admin-unit-label.admin-unit-label-province.zoom-0,
.admin-unit-label.admin-unit-label-province.zoom-1 ,
.admin-unit-label.admin-unit-label-province.zoom-2 {
	display: none;
}
.admin-unit-label.admin-unit-label-province.zoom-3 {
	font-size: 14px;
}
.admin-unit-label.admin-unit-label-province.zoom-4 {
	font-size: 15px;
}
.admin-unit-label.admin-unit-label-province.zoom-5 {
	font-size: 16px;
}
.admin-unit-label.admin-unit-label-province.zoom-6 ,
.admin-unit-label.admin-unit-label-province.zoom-7 {
	font-size: 18px;
}
.admin-unit-label.admin-unit-label-province.zoom-8 ,
.admin-unit-label.admin-unit-label-province.zoom-9 {
	font-size: 20px;
}
.admin-unit-label.admin-unit-label-province.zoom-10 ,
.admin-unit-label.admin-unit-label-province.zoom-11 {
	font-size: 22px;
}
.admin-unit-label.admin-unit-label-province.zoom-12 ,
.admin-unit-label.admin-unit-label-province.zoom-13 {
	font-size: 23px;
}
.admin-unit-label.admin-unit-label-province.zoom-14 ,
.admin-unit-label.admin-unit-label-province.zoom-15 {
	font-size: 24px;
}


.admin-unit-label.admin-unit-label-district.zoom-0,
.admin-unit-label.admin-unit-label-district.zoom-1 ,
.admin-unit-label.admin-unit-label-district.zoom-2 ,
.admin-unit-label.admin-unit-label-district.zoom-3 ,
.admin-unit-label.admin-unit-label-district.zoom-4 ,
.admin-unit-label.admin-unit-label-district.zoom-5 {
	display: none;
}
.admin-unit-label.admin-unit-label-district.zoom-6 ,
.admin-unit-label.admin-unit-label-district.zoom-7 {
	font-size: 14px;
}
.admin-unit-label.admin-unit-label-district.zoom-8 ,
.admin-unit-label.admin-unit-label-district.zoom-9 {
	font-size: 16px;
}
.admin-unit-label.admin-unit-label-district.zoom-10 ,
.admin-unit-label.admin-unit-label-district.zoom-11 {
	font-size: 18px;
}
.admin-unit-label.admin-unit-label-district.zoom-12 ,
.admin-unit-label.admin-unit-label-district.zoom-13 {
	font-size: 20px;
}
.admin-unit-label.admin-unit-label-district.zoom-14 ,
.admin-unit-label.admin-unit-label-district.zoom-15 {
	font-size: 21px;
}


.admin-unit-label.admin-unit-label-commune.zoom-0,
.admin-unit-label.admin-unit-label-commune.zoom-1 ,
.admin-unit-label.admin-unit-label-commune.zoom-2 ,
.admin-unit-label.admin-unit-label-commune.zoom-3 ,
.admin-unit-label.admin-unit-label-commune.zoom-4 ,
.admin-unit-label.admin-unit-label-commune.zoom-5 {
	display: none;
}
.admin-unit-label.admin-unit-label-commune.zoom-6 ,
.admin-unit-label.admin-unit-label-commune.zoom-7 {
	font-size: 12px;
}
.admin-unit-label.admin-unit-label-commune.zoom-8 ,
.admin-unit-label.admin-unit-label-commune.zoom-9 {
	font-size: 14px;
}
.admin-unit-label.admin-unit-label-commune.zoom-10 ,
.admin-unit-label.admin-unit-label-commune.zoom-11 {
	font-size: 16px;
}
.admin-unit-label.admin-unit-label-commune.zoom-12 ,
.admin-unit-label.admin-unit-label-commune.zoom-13 {
	font-size: 18px;
}
.admin-unit-label.admin-unit-label-commune.zoom-14 ,
.admin-unit-label.admin-unit-label-commune.zoom-15 {
	font-size: 20px;
}



.admin-unit-label.zoom-5 ,
.admin-unit-label.zoom-6 ,
.admin-unit-label.zoom-7 ,
.admin-unit-label.zoom-8 ,
.admin-unit-label.zoom-9 ,
.admin-unit-label.zoom-10 ,
.admin-unit-label.zoom-11 ,
.admin-unit-label.zoom-12 ,
.admin-unit-label.zoom-13 ,
.admin-unit-label.zoom-14 ,
.admin-unit-label.zoom-15 {
	font-weight: bold;
}
