@CHARSET "UTF-8";
div.redd_project ,
div.redd_project_marker{
	position: absolute;
	z-index: 900;
}

div.redd_project_marker {
    background-color: transparent;
    /* width: 40px; */
    /* height: 50px; */
    color: #E9E9E9 !important;
    padding: 5px 2px;
    cursor: pointer;
/*     background-color: black; */
}
div.redd_project_marker i {
    font-size: 20px;
    color: #E9E9E9 !important;
}
div.redd_project_marker img {
	position: absolute;
}
div.redd_project div.popover {
	background-color: rgba(4, 118, 210, 0.7);
	display: block;
    position: relative;
    z-index: 900;
    cursor: pointer;
    padding: 1px 3px !important;
}
div.redd_project  div.popover > .arrow {
    /* bottom: -19px !important; */
    /* border-width: 10px; */
    border-top-color: rgba(4, 118, 210, .95);
/*     border-top-color: rgba(4, 118, 210, 0.7); */
    margin-left: -5px !important;
    bottom: -5px !important;
}
div.redd_project  div.popover > .popover-content {
	font-size: 11px;
/* 	padding: 5px 14px 15px 14px; */
    padding: 1px 1px 1px 10px;
	
}
div.redd_project .popover-content.expanded  {
	width: 100%;
}
div.redd_project  .popover-content.collapsed {
/*     width: 35px; */
/*     height: 35px; */
    width: 100%;
    min-height: 25px;
    padding: 5px 10px !important;
    padding: 5px 10px 15px 10px !important;
}

div.redd_project  div.popover > .popover-content  >.project{
	width: 100%;
	display: none;
}
div.redd_project  div.popover.top > .arrow:after {
	 border-top: none;
}
div.redd_project  .popover-title {
	border: none;
	background-color: rgba(4, 118, 210, 0);
	font-size: 12px;
    font-weight: bold;
    padding: 4px 0px 3px 0px;
    text-align: center;
}
div.redd_project .popover-content.expanded i {
    font-size: 5px;
    margin-top: .8em;
    margin-left: -1.6em;
    position: absolute;
}
div.redd_project .popover-content.collapsed i {
	font-size: 15px;
}
