div.lucm {
/* 	margin-right: -5%; */
/*     margin-left: -5%; */
/*     width: 105% !important; */
}

div.lucm .row {
	padding : 5px 0px;
}
div.lucm .period-btns button {
	width: auto;
    margin: 0px .05em
}
div.lucm .row-matrix {
	font-size: 11px;
	padding: 10px 10px;
/* 	border: 1px solid rgba(233, 233, 233, 0.45); */
}
div.lucm .row-matrix td ,
div.lucm .row-matrix th {
	padding : 4px 5px;
	text-align: center;
}
div.lucm .row-matrix th ,
div.lucm .row-matrix tr td:first-child {
/* 	font-weight: bold; */
	padding : 6px 5px;
	background-color: rgba(50, 153, 187, 0.15);
}
