div.olControlScale {
	right: 20px;
}

@media (min-width: 768px) {
	div .olControlScale {
		position: absolute;
	    bottom: 0px;
	    right: 320px;
	    background-color: rgba(40, 34, 34, 0.9);
		opacity: 0.65;
		padding: 0.6em;
	}
}