.layer-badge-timestamp {
	font-size: 10px;
	position: absolute;
/* 	float: right; */
	left: 70%;
	top: 5px;
}

.layer-badge-timestamp i.fa {
	font-size: 8px;
	top: -1px;
	position: relative;
	right: 2px;
}