.layer-time-slider {
	text-align: center;
}

.layer-badge-timestamp {
	font-size: 9px;
	position: absolute;
	left: 80%;
	top: 1em;
}

.layer-badge-timestamp i.fa {
	font-size: 8px;
	top: -1px;
	position: relative;
	right: 2px;
}