div.dashboard {
	opacity: 0.9;
	z-index: 1100;
	position: relative;
	color: #E9E9E9;
	overflow: hidden;
	/* 	width: 90px; */
	/* 	position: fixed; */
	/* 	right: 0px; */
	/* 	height: 60px !important; */
}

div.dashboard-toggle {
	background-color: rgba(66, 66, 66, 0.85);
/* 	border-left: 1px solid rgba(22, 22, 22, 0.25); */
/* 	border-top: 1px solid rgba(22, 22, 22, 0.25); */
/* 	border-bottom: 1px solid rgba(22, 22, 22, 0.25); */
/* 	border-radius: 3px; */
	height: 60px;
	padding-top: 12px !important;
	text-align: center;
}

div.dashboard-header {
	padding: 15px 10px;
	text-align: center;
	height: 60px;
}

div.layer-label {
	font-size: 16px;
}

div.dashboard-container {
	background-color: rgba(66, 66, 66, 0.85);
	padding: 0 0 2% 0;
}

div.dashboard-content {
	height: auto;
	overflow: auto;
	max-height: 85%;
}

div.dashboard-content div.col-md-12 {
	padding: 3% 8%;	
}

button.layer-label {
	pointer-events: none;
	cursor: default;
	min-width: 200px;
}

.dashboard-content-selector {
	padding: 0px 50px;
}

div.dashboard-header ul.dropdown-menu {
	min-width: 200px;
	background-color: rgba(40, 34, 34, 0.96);
	border-radius: 3px;
	top: 90%;
}
div.dashboard-header button.btn-collapse {
/* 	padding: 6px 12px !important; */
	position: absolute ;
	left: 5px;
	top: -10px;
}
div.dashboard-header button {
	padding: 6px 12px !important;
}


div.dashboard-content-selector button i{
  position: relative;
  left: -5%;
}


.dashboard-content-item {
	width: 100%;
	height: 100%;
}

/* ###### */
/* Legend Style */
/* ###### */
.legend-box-column {
/* 	padding: 3px; */
/* 	border: 1px solid  */
}
.legend-box {
	width: 24px;
	height: 24px;
	border: 1px solid rgba(233, 233, 233, 0.4);
}
.legend-label {
	font-size: 12px;
  	padding: 4px 5px;
}
