div.dashboard {
	z-index: 1100;
	position: relative;
	color: #E9E9E9;
	overflow: hidden;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	font-size: 13px;
}

div.dashboard button.btn-collapse {
/* 	position: absolute;	 */
/* 	left: 0px; */
	width: 100%;
	height: 100%;
}

.dashboard-content-selector {
	padding: 30px 50px 20px 50px;
	text-align: center;
}

div.dashboard-toggle {
/* 	height: 60px; */
	text-align: center;
	height: 100%;
/* 	width: 100%; */
}
div.dashboard-toggle-btn {
/* 	padding-top: 12px !important; */
	background-color: rgba(66, 66, 66, 0.85);
	border-top: 1px solid rgba(22, 22, 22, 0.30);
	border-left: 1px solid rgba(22, 22, 22, 0.30);
	border-bottom: 1px solid rgba(22, 22, 22, 0.30);
/* 	width: 100%; */
	height: 10%;
}
div.dashboard-toggle-empty-col {
	height: 90%;
/* 	border: 1px solid transparent; */
	border-right: 1px solid rgba(22, 22, 22, 0.65);
	
}
/* div.dashboard-header { */
/* 	padding: 15px 10px; */
/* 	text-align: center; */
/* 	height: 60px; */
/* } */

div.layer-label {
	font-size: 15px;
	text-align: center;
	font-weight: bold;
}

div.dashboard-container {
	background-color: rgba(66, 66, 66, 0.85);
/* 	padding: 0 0 2% 0; */
/* 	border: 1px solid rgba(22, 22, 22, 0.30); */
	border-top: 1px solid rgba(22, 22, 22, 0.30);
/* 	border-right: 1px solid rgba(22, 22, 22, 0.30); */
	border-bottom: 1px solid rgba(22, 22, 22, 0.30);
}

div.dashboard-content {
	height: auto;
	overflow: auto;
	max-height: 85%;
}

/* div.dashboard-content div.col-md-12 { */
/* 	padding: 3% 8%;	 */
/* } */

button.layer-label {
	pointer-events: none;
	cursor: default;
	min-width: 200px;
}


div.dashboard-header ul.dropdown-menu {
	min-width: 200px;
	background-color: rgba(40, 34, 34, 0.96);
	border-radius: 3px;
	top: 90%;
}
div.dashboard-header button.btn-collapse {
/* 	padding: 6px 12px !important; */
	position: absolute ;
	left: 5px;
	top: -10px;
}
div.dashboard-header button {
	padding: 6px 12px !important;
}


div.dashboard-content-selector button i{
  position: relative;
  left: -5%;
}


.dashboard-content-item {
	width: 100%;
	height: 100%;
}


div.dashboard button.btn-transparent ,
div.dashboard button.btn-transparent:focus {
	color : #E9E9E9;
	border: none;
	text-align: left;
}
div.dashboard button.btn-transparent:hover {
	border: none;
	color : rgb(50, 153, 187);
/* 	font-size: 13px; */
	
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
div.row-toggle button.btn-transparent ,
div.row-toggle button.btn-transparent:hover ,
div.row-toggle button.btn-transparent:focus {
	font-size: 14px;
}
div.row-toggle.closed {
}
div.row-toggle.opened { 
	
}
div.row-toggle-content {
	padding: 10px 5px 15px 25px;
}
div.row-toggle-content.closed {
	
}
div.row-toggle-content.opened {
}


div.row-dashbaord-padded {
 	padding: 5px;
/* 	font-size: 13px; */
}
div.info-table {
	border: 1px solid rgba(233, 233, 233, 0.45);
    margin: 1.5em 1em 0em 1em !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.info-table div.title {
/* 	padding-top: 10px; */
/* 	padding: 0px 25px 10px 25px; */
/* 	text-align: center; */
}
/* ###### */
/* Legend Style */
/* ###### */
.legend-box-column {
/* 	padding: 3px; */
/* 	border: 1px solid  */
}
.legend-box {
	width: 24px;
	height: 24px;
	border: 1px solid rgba(233, 233, 233, 0.4);
}
.legend-label {
	font-size: 12px;
  	padding: 2px 2px;
}
.legend-line  {
	width: 100%;
	height: 0.25em;
/* 	border: 1px solid rgba(233, 233, 233, 0.4); */
	margin-top: .7em;
}