
.tutorial {
	display: none;
	margin: 0px !important;
	width: 35%;
	height: 70%;
	overflow: hidden; 
	z-index: 9002;
	position: fixed;
	left: 15%;
	-webkit-box-shadow: 0px 15px 32px 4px rgba(102, 102, 102, 0.8);
	-moz-box-shadow: 0px 15px 32px 4px rgba(102, 102, 102, 0.8);
	box-shadow: 0px 15px 32px 4px rgba(102, 102, 102, 0.8);
	border: 1px solid rgba(158, 151, 157, 0.18);
	font-size: 14px;
	background-color: rgba(229, 229, 229, 0.95);
	color: rgba(22, 22, 22, 0.99);
}

.tutorial-header {
    /* cursor: move; */
    margin: 0px !important;
/*     background-color: rgba(61, 65, 70, 0.96); */
    padding: 10px 0px 10px 0px;
    height: 5%;
    font-weight: bold;
    font-size: 15px;
}

.tutorial-header div {
	text-align: center;
/* 	color: #E9E9E9; */
}

.tutorial-header button, .tutorial-header button:hover, .tutorial-header button:active
	{
	background: none;
	border: none;
/* 	color: #E9E9E9; */
	width: 100%;
	height: 100%;
	padding: 0px !important;
	font-size: 17px;
}

.tutorial-body {
	margin: 0px !important;
/* 	background-color: rgba(229, 229, 229, 0.95); */
/* 	color: rgba(22, 22, 22, 0.99); */
	padding: 13px 5px 13px 5px;
	height: 90%;
	overflow: auto;
}

.tutorial-body img {
	max-width: 70%;
}
.toturial-item-link{
	cursor: pointer;
	padding: 9px 2px;
	border-bottom: 1px solid rgba(68, 66, 63, 0.3);
}
.toturial-item-link:hover{
	cursor: pointer;
	background-color: rgba(50, 153, 187, 0.2);	
}

.toturial-item {
	display: none;
	height: 100%;
}

.toturial-item .header {
	text-align: center;
	font-weight: bold;
	padding: 5px 0px 20px 0px !important;
}

.toturial-item .content {
	padding: 6px 0px 3px 5% !important;
 	font-size: 14px;
}

.toturial-item .content-1 {
 	padding: 10px 8% !important;
/*  	padding: 6px 0px 10px 8% !important; */
 	font-size: 13px;
}

.toturial-item i.fa-circle {
	font-size: 6px;
    top: -3px;
    position: relative;
}