.zoom-bar {
    position: fixed;
    z-index: 1001;
    bottom: 0px;
    right: 150px;
    height: 5%;
    width: 200px;
    font-weight: bold;
}
.zoom-bar button.btn-default {
    font-size: 16px;
    margin: 0px 0px;
   	padding: 5% 10%;
    width: auto;
    height: 100%;
}

.zoom-bar button.btn-default:hover {
	color: #E9E9E9;
	background-color: rgba(62, 64, 60, 0.9);
}


