.zoom-bar {
	position	: fixed;
	z-index: 1001;
	float: right;
  	bottom: 60px;
  	right: 2px;
}
.zoom-bar button.btn-default {
	font-size : 16px;
	margin: 0px 0px;
	padding: 12px 15px;
	width: auto;
}

.zoom-bar button.btn-default:hover {
	color: #E9E9E9;
	background-color: rgba(62, 64, 60, 0.9);
}
