
.zoom-bar {
	position	: fixed;
	z-index: 1001;
	float: right;
  	bottom: 60px;
  	right: 2px;
}
.zoom-bar button {
	font-size : 16px;
	margin: 0px 0px;
	padding: 12px 15px;
	color: #E9E9E9;
	background-color: rgba(62, 64, 60, 0.68);
	border-radius: 0px;
/* 	border: 1px solid rgba(50, 153, 187, 0.6); */
}
.zoom-bar button:hover {
	color: #E9E9E9;
	background-color: rgba(62, 64, 60, 0.9);
}

#zoom_to_max_extent {
	background: url("images/ui-elements.png") no-repeat scroll 0
		-80px transparent;
	height: 25px;
	left: 90px;
	position: absolute;
	top: 148px;
	width: 25px;
	z-index: 1000;
}

#zoom_out {
	background: url("images/ui-elements.png") no-repeat scroll 0
		-48px transparent;
	height: 25px;
	left: 10px;
	position: absolute;
	top: 148px;
	width: 25px;
	z-index: 1000;
}

#zoom_in {
	background: url("images/ui-elements.png") no-repeat scroll 0
		-16px transparent;
	height: 25px;
	left: 50px;
	position: absolute;
	top: 148px;
	width: 25px;
	z-index: 1000;
}