.lang-buttons {
	z-index: 1001;
  	position: relative;
	float: right;
/* 	padding: 15px 10px; */
}

.lang-buttons a.btn-default {
	margin: 0px 2px;
	padding: 7px 15px;
    border-radius: 15px;
	border: 1px solid rgba(50, 153, 187, 0.6);
}

.lang-buttons a.btn-default.active {
	background-color: rgba(50, 153, 187, 0.8);
	pointer-events: none;
   	cursor: default;
}
