/* .layers-container  button.btn-transparent:hover { */
/* 	background-color: transparent; */
/* 	color : rgb(50, 153, 187); */
/* } */
.row-layer  button.btn-transparent.active {
	color : rgb(50, 153, 187);
}
div.dashboard-btn button.btn-transparent {
    padding: 3% 11%;
    position: relative;
    font-size: 12px;
    margin: 4px 1px 4px 1px;
/*     border: 1px solid rgb(95, 102, 115); */
	border: none;
    border-radius: 0px;
    background-color: rgba(32, 37, 43, 0.55);
}
div.dashboard-btn button.btn-transparent:hover {
    color : rgb(50, 153, 187);
    
   	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
div.panel-heading div.dashboard-btn button.btn-transparent {
/*   	right: 1%; */
/*   	position: absolute; */
	margin-top: 5px;
}
div.settings button.btn-transparent {
/* 	padding: 20% 20%; */
	position: absolute;
  	left: 10%;
}

/* .row-layer .settings button.btn-transparent { */
/* 	padding: 5px; */
/* 	border: none; */
/* 	remove after refactoring btn-default */
/* 	background-color: transparent; */
/* } */
/* settings css classes */
.row-layers-settings {
	height: auto;
	display: none;
	padding: 0px 25% 2% 15%;
	margin: 0px !important;
	top: -5px;
  	position: relative;
  	
}

.row-layers-settings .row {
/* 	padding: 10px 20px; */
	padding: 5px 0px;
	border-left : 1px solid rgba(47, 117, 144, 0.3);
	border-right : 1px solid rgba(47, 117, 144, 0.3);
}
.row-layers-settings .row:first-of-type {
	padding-top : 8%;
}
.row-layers-settings .row:last-of-type {
	padding-bottom : 8%;
	border-bottom : 1px solid rgba(47, 117, 144, 0.3);
	
}
.row-layers-settings .row-layer-settings-slider {
	margin-top: 8px;
	text-align: center;
	  margin-left: .4em;
}



.layer-placeholder {
	padding: 20px 0px 5px 10px;
	font-size: 12px;
}


.row-layer-settings-icon {
	opacity: 0.75;
}
.row-layer-settings-icon i {
/* 	margin-left: -.1em; */
}

.row-group-help-msg {
    font-size: 12px;
/*     font-style: italic; */
    padding: 15px 0px 0px 0px;
    text-transform: uppercase;
}